* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

/* for App Component */
html, body {
  height: 100%;
  width: 100%;
}

hr {
  height: 4px;

  background-color: black;

  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;

  margin: 10px 30px;
}

/* for Header component */
header {
  height: 7vh;

  display: flex;
  justify-content: space-between;
}

header h1, div{
  margin-top: 15px;
}

header h1 {
  margin-left: 40px;
}

header div {
  padding-right: 40px;
}

button {
  font-size: 20px;

  padding: 4px;

  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 4px 4px 1px black;

  cursor: pointer;
}

button:active {
  box-shadow: 3px 3px 1px black;
  transform: translate3d(1px, 1px, 1px);
}
#delete-product-btn {
  margin-left: 10px;
}

#add-product-btn:hover {
  background-color: yellowgreen;
}

#delete-product-btn:hover {
  background-color: indianred;
}

/* for Main component */
main {
  height: calc(80vh - 44px);

  display: flex;
  flex-wrap: wrap;
 
}

#product {
  height: 180px;
  width: 300px;
  border: 1px solid black;
  margin: 20px;
}

.delete-checkbox {
  margin: 10px;
}

main div:first-child  input {
  margin: 10px;
}

footer {
  height: 10vh;

  display: flex;
  justify-content: center;
}